.imgLogo{
    width : 4%;
    height : 4%;
    margin-right: 10px;
}

.barra{
    background-color: #fc9c1c;
}

$blue : #00aeef;
$white : #fff;
$gray : #333;
$lightgray : #808080;
$lightergray : #f1f1f1;
body {
  background-color: $lightgray;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
    font-weight: 400;
    font-size: 15px;
}
.chat-widget-wrapper {
  display: block;
  width: 350px;
  height: 42px;
  position: absolute;
  bottom: 20px;
  right: 0;
  padding: 10px;
  cursor: pointer;
  animation: all 2s linear;
}

.chat-widget-container {
  position: fixed;
  bottom: -5px;
  right: 5px;
  width: 250px;
  padding: 10px;
  background-color: #dbd9d97c;
  border-radius: 4px;
  
  &.open {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  
  .chat-widget-text {
    p {
      margin: 0 auto;
      color: black;
      
      &.heading {
        color: #6b3c00;
        font-weight: 600;
      }
    }
  }
}

.chat-widget-avatar {
  
    width: 80px;
    height: 80px;
    position: absolute;
    top: -11px;
    right: 0px;
    border: 4px solid $white;
    border-radius: 50%;
}

.chat-box-container {
  position: absolute;
  width: 300px;
  height: 0;
  background-color: $lightergray;
  bottom: 10px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  z-index: 1;
  
  &.show {
    bottom : 90px;
    height : 500px;
  }
  
  .chat-box-nav {
    background-color: $blue;
    width: 100%;
    height: 40px;
  }
}


// ***************************
*{
	box-sizing:border-box;
}
// body{
// 	background-color:#abd9e9;
// 	font-family:Arial;
// }
#container {
  width: 500px;
  height: 530px;
  background: #747372;
  margin: 0 auto;
  font-size: 0;
  border-radius: 5px;
  overflow: hidden;
  float: right;
  overflow: hidden;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
aside{
	width:260px;
	height:800px;
	background-color:#3b3e49;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}
main{
	width:490px;
	height:800px;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}

aside header{
	padding:30px 20px;
}
aside input{
	width:100%;
	height:50px;
	line-height:50px;
	padding:0 50px 0 20px;
	background-color:#5e616a;
	border:none;
	border-radius:3px;
	color:#fff;
	background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
	background-repeat:no-repeat;
	background-position:170px;
	background-size:40px;
}
aside input::placeholder{
	color:#fff;
}
aside ul{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:690px;
}
aside li{
	padding:10px 0;
}
aside li:hover{
	background-color:#5e616a;
}
h2,h3{
	margin:0;
}
aside li img{
	border-radius:50%;
	margin-left:20px;
	margin-right:8px;
}
aside li div{
	display:inline-block;
	vertical-align:top;
	margin-top:12px;
}
aside li h2{
	font-size:14px;
	color:#fff;
	font-weight:normal;
	margin-bottom:5px;
}
aside li h3{
	font-size:12px;
	color:#7e818a;
	font-weight:normal;
}

.status{
	width:8px;
	height:8px;
	border-radius:50%;
	display:inline-block;
	margin-right:7px;
}
.green{
	background-color:#58b666;
}
.orange{
	background-color:#ff725d;
}
.blue{
	background-color:#6fbced;
	margin-right:0;
	margin-left:7px;
}

main header{
	height:110px;
	padding:30px 20px 30px 40px;
}
main header > *{
	display:inline-block;
	vertical-align:top;
}
main header img:first-child{
	border-radius:50%;
}
main header img:last-child{
	width:24px;
	margin-top:8px;
}
main header div{
	margin-left:10px;
	margin-right:145px;
}
main header h2{
	font-size:16px;
	margin-bottom:5px;
}
main header h3{
	font-size:14px;
	font-weight:normal;
	color:#7e818a;
}

#chat{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:450px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}
#chat li{
	padding:10px 30px;
}
#chat h2,#chat h3{
	display:inline-block;
	font-size:13px;
	font-weight:normal;
}
#chat h3{
	color:#bbb;
}
#chat .entete{
	margin-bottom:5px;
}
#chat .message{
	padding:20px;
	color:#fff;
	line-height:25px;
	max-width:90%;
	display:inline-block;
	text-align:left;
	border-radius:5px;
}
#chat .me{
	text-align:right;
}
#chat .you .message{
	background-color:#c87509;
}
#chat .me .message{
	background-color:#444b4f;
}
#chat .triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
}
#chat .you .triangle{
		border-color: transparent transparent #c87509 transparent;
		margin-left:15px;
}
#chat .me .triangle{
		border-color: transparent transparent #444b4f transparent;
		margin-left:375px;
}

main footer{
	height:145px;
	padding:20px 30px 10px 20px;
}
main footer textarea{
	resize:none;
	border:none;
	display:block;
	width:80%;
	height:50px;
	border-radius:3px;
	padding:3px;
	font-size:13px;
	margin-bottom:13px;
  display: inline-block;
}
main footer textarea::placeholder{
	color:#ddd;
}
main footer img{
	height:30px;
	cursor:pointer;
}
main footer a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #6fbced;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
