<div class="crearAlbum">
  <div class="row">
    <div class="col">
      <label
        for="exampleFormControlInput1"
        class="form-label"
        style="color: white"
        >Nombre del nuevo album</label
      >
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="nombre album"
        [(ngModel)]="this.cuerpo.Album"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <button
        type="submit"
        class="bt btn-primary btn-lg"
        style="background-color: #fc9c1c; margin: 30px"
        (click)="cAlbum()"
      >
        Crear
      </button>
    </div>
    <div class="col"></div>
  </div>
</div>
